body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    background-color: #333;
    background-image: url('https://images.uniapply.com/uploads/college/image/500/4610/Thakur_College_of_Science_And_Commerce_3578_Building_1_UA_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.content {
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.login-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}
